.gradle/
gradle/**/executionHistory/
gradle/**/buildOutputCleanup/
gradle/**/*.lock

composeApp/build/
**/build/

local.properties

.idea/
*.iml

captures/
output.json

*.html

*.kotlin_module
*.bin

*.lock
gradle.lockfile

*.log

.DS_Store
